<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><InfinitySpiritMetaTitle>test</InfinitySpiritMetaTitle></title>
    <link
      rel="stylesheet"
      href="../../The-Infinitys-InfinitySpirit/template/style.css" />
    <script
      defer
      src="../../The-Infinitys-InfinitySpirit/template/script.js"></script>
  </head>
  <body>
    <div class="article-body">
      <div class="article-title">
        <IfinitySpiritArticleTitle
          >Infinity Spirit Article Templates</InfinitySpiritArticleTitle
        >
      </div>
      <div class="article-content">
        <InfinitySpiritContent>
          <h1>test mode</h1>
          <p>content</p>
          <p>content</p>
          <h2>test mode</h2>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h3>test mode</h3>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h4>test mode</h4>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h5>test mode</h5>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h6>test mode</h6>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
        </InfinitySpiritContent>
      </div>
    </div>
  </body>
</html>
