<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><InfinitySpiritTitle></InfinitySpiritTitle></title>
    <link
      rel="stylesheet"
      href="../../The-Infinitys-InfinitySpirit/template/style.css" />
    <script
      defer
      src="../../The-Infinitys-InfinitySpirit/template/script.js"></script>
  </head>
  <body>
    <div class="article-back">
      <div class="article-title"><InfinitySpiritTitle></InfinitySpiritTitle></InfinitySpiritTitle></div>
      <div class="article-content">
        <InfinitySpiritContent></InfinitySpiritContent>
      </div>
    </div>
  </body>
</html>
