* {
  margin: 0;
  padding: 0;
}

:root {
  --infinityspirit-back: white;
  --infinityspirit-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --infinityspirit-back: black;
    --infinityspirit-text: white;
  }
}

.article-back {
  width: 100%;
  height: auto;
  padding-top: 5vh;
  background: var(--infinityspirit-back);
  color: var(--infinityspirit-text);
}


.article-content {
  line-height: 2;
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  width: 50%;
  margin-left: 5%;
  padding: 5%;
  height: auto;
  background: color-mix(in srgb, var(--infinityspirit-back), #888 20%);
  color: var(--infinityspirit-text);
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  border: 2px solid #888;
  border-radius: 5px;
  padding: 5px;
  line-height: 2.5;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

InfinitySpiritArticleTitle {
  margin-left: 5%;
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  text-wrap: wrap;
  text-overflow: clip;
  width: 50%;
  height: auto;
  border: 2px solid #888;
  font-size: 40px;
}