<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><InfinitySpiritMetaTitle>test</InfinitySpiritMetaTitle></title>
    <link rel="stylesheet" href="../../InfinitySpirit/template/style.css" />
    <script defer src="../../InfinitySpirit/template/script.js"></script>
  </head>
  <body>
    <div class="article-body">
      <div class="article-title">
        <InfinitySpiritArticleTitle>
          Infinity Spirit Article Templates
        </InfinitySpiritArticleTitle>
        <br />
        <svg
          class="clock-watch"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewbox="0 0 100 100"
          stroke="#888"
          fill="none"
          stroke-width="5"
          stroke-linecap="round">
          <g class="Infinity-clock_frame">
            <circle cx="50" cy="50" r="40" />
          </g>
          <g class="Infinity-clock_hands">
            <path d="M50 50,L50 20 Z" />
            <path d="M50 50,L70 70 Z" />
          </g>
        </svg>
        <InfinitySpiritDate>xxxx/xx/xx</InfinitySpiritDate>
      </div>
      <div class="article-content">
        <InfinitySpiritContent>
          <h1>test mode</h1>
          <p>content</p>
          <p>content</p>
          <h2>test mode</h2>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h3>test mode</h3>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h4>test mode</h4>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h5>test mode</h5>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <h6>test mode</h6>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
          <p>content</p>
        </InfinitySpiritContent>
      </div>
      <div class="article-index"></div>
      <div class="articles-recommended">
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
        <button type="button" title="button">
          <img src="../../InfinitySpirit/template/image/loading.svg" alt="" />
          <div>dummy</div>
        </button>
      </div>
    </div>
  </body>
</html>
