* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--infinityspirit-back);
}

:root {
  --infinityspirit-back: white;
  --infinityspirit-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --infinityspirit-back: black;
    --infinityspirit-text: white;
  }

  a {
    color: aqua;
  }
}

.article-body {
  width: 100%;
  padding-top: 5vh;
  color: var(--infinityspirit-text);
}

#go-top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10vh;
  height: 10vh;
  background: none;
  border: none;
}

.article-content {
  line-height: 2;
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  width: 50%;
  margin-left: 5%;
  padding: 5%;
  height: auto;
  background:
    color-mix(in srgb,
      color-mix(in srgb,
        var(--infinityspirit-back),
        #888 10%),
      transparent 10%);
  color: var(--infinityspirit-text);
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  line-height: 2;
  padding-left: 10px;
  margin: 10px 0 20px -5px;
  border-radius: 10px 5px 5px 10px;
  border-left: 15px solid;
  animation: article-h-borders 5s linear infinite;
}

.article-content h5,
.article-content h6,
.article-content p {
  font-weight: 500;
}

.article-content h1::before,
.article-content h2::before,
.article-content h3::before,
.article-content h4::before,
.article-content h1::after,
.article-content h2::after,
.article-content h3::after,
.article-content h4::after {
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00) 0 / 200%;
  content: "";
  display: block;
  width: calc(100% + 12px);
  border-radius: 5px;
  height: 3px;
  position: relative;
  left: -11px;
  animation: border-back-animation linear 5s infinite;
}

.article-content table {
  border-collapse: collapse;
  border: solid 2px var(--infinityspirit-text);
}

.article-content th,
.article-content td {
  border: solid 2px var(--infinityspirit-text);
}

.article-title {
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  text-wrap: wrap;
  width: 60vw;
  margin-left: 5%;
  margin-bottom: 5vh;
  height: auto;
  text-wrap: wrap;
  font-size: 40px;
  box-sizing: border-box;
}

.clock-watch {
  width: 30px;
}

InfinitySpiritDate {
  font-size: 30px;
  font-weight: 400;
  color: color-mix(in srgb, var(--infinityspirit-text), transparent 20%);
}

.article-index {
  position: sticky;
  bottom: 10vh;
  left: 67.5vw;
  width: 30vw;
  height: 70vh;
  margin-left: 1px;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: color-mix(in srgb, #888, transparent 80%);
}

.article-index h1 {
  margin-left: 5px;
  font-weight: 400;
}

.article-index h2 {
  margin-left: 10px;
  font-weight: 400;
}

.article-index h3 {
  margin-left: 15px;
  font-weight: 400;
}

.article-index h4 {
  margin-left: 20px;
  font-weight: 400;
}


.articles-recommended {
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  width: 60%;
  margin-left: 5%;
  margin-top: -65vh;
  margin-bottom: 5vh;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  color: var(--infinityspirit-text);
  background-color: #8883;
}

.articles-recommended>button {
  border-radius: var(--this-margin);
  border: none;
  position: relative;
  overflow: hidden;
  --this-width: 50%;
  --this-margin: 1vw;
  width: calc(var(--this-width) - 2 * var(--this-margin));
  margin: var(--this-margin);
  aspect-ratio: 4/3;
  background-color: var(--infinityspirit-back);
}

.articles-recommended>button>img {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.codehilite {
  overflow-x: scroll;
  overflow-y: hidden;
}

.articles-recommended>button>div {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 20%;
  top: 80%;
  left: 0;
  color: var(--infinityspirit-text);
}

.articles-recommended>button>div h1 {
  font-size: 1vw;
  text-wrap: nowrap;
}

.articles-recommended>button>div p {
  font-size: 1vw;
}


@media (max-aspect-ratio:2/3) {
  .article-index {
    display: none;
  }

  .articles-recommended,
  .article-content,
  .article-title {
    width: 80vw;
  }

  .articles-recommended {
    margin-top: 5vh;
  }

  .articles-recommended>button>div h1,
  .articles-recommended>button>div p {
    font-size: 1.2vw;
  }

}

.article-content h5,
.article-content h6,
.article-content p {
  line-height: 2.5;
}

@keyframes article-h-borders {
  0% {
    border-left: 15px solid #f00;
    border-right: 4px solid #0ff;
  }

  17% {
    border-left: 15px solid #ff0;
    border-right: 4px solid #00f;
  }

  33% {
    border-left: 15px solid #0f0;
    border-right: 4px solid #f0f;
  }

  50% {
    border-left: 15px solid #0ff;
    border-right: 4px solid #f00;
  }

  67% {
    border-left: 15px solid #00f;
    border-right: 4px solid #ff0;
  }

  83% {
    border-left: 15px solid #f0f;
    border-right: 4px solid #0f0;
  }

  100% {
    border-left: 15px solid #f00;
    border-right: 4px solid #0ff;
  }
}

@keyframes border-back-animation {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 200%;
  }
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  line-height: 2;
  padding-left: 10px;
  margin: 10px 0 20px -5px;
  border-radius: 10px 5px 5px 10px;
  border-left: 15px solid;
  animation: article-h-borders 5s linear infinite;
}

.article-content h5,
.article-content h6,
.article-content p {
  font-weight: 500;
}

.article-content h1::before,
.article-content h2::before,
.article-content h3::before,
.article-content h4::before,
.article-content h1::after,
.article-content h2::after,
.article-content h3::after,
.article-content h4::after {
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00) 0 / 200%;
  content: "";
  display: block;
  width: calc(100% + 12px);
  border-radius: 5px;
  height: 3px;
  position: relative;
  left: -11px;
  animation: border-back-animation linear 5s infinite;
}

@keyframes article-h-borders {
  0% {
    border-left: 15px solid #f00;
    border-right: 4px solid #0ff;
  }

  17% {
    border-left: 15px solid #ff0;
    border-right: 4px solid #00f;
  }

  33% {
    border-left: 15px solid #0f0;
    border-right: 4px solid #f0f;
  }

  50% {
    border-left: 15px solid #0ff;
    border-right: 4px solid #f00;
  }

  67% {
    border-left: 15px solid #00f;
    border-right: 4px solid #ff0;
  }

  83% {
    border-left: 15px solid #f0f;
    border-right: 4px solid #0f0;
  }

  100% {
    border-left: 15px solid #f00;
    border-right: 4px solid #0ff;
  }
}

@keyframes border-back-animation {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 200%;
  }
}
